In [1]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sklearn

print('numpy version:', np.__version__)
print('pandas version:', pd.__version__)
print('seaborn version:', sns.__version__)
print(f"matplotlib: mpl {plt.matplotlib.__version__}")
print('sklearn version:', sklearn.__version__)

font_path = "c:/Windows/Fonts/malgun.ttf"
font_prop = mpl.font_manager.FontProperties(fname=font_path)
mpl.rcParams['font.family'] = font_prop.get_name()
mpl.rcParams['axes.unicode_minus'] = False

numpy version: 2.1.0
pandas version: 2.2.2
seaborn version: 0.13.2
matplotlib: mpl 3.9.2
sklearn version: 1.5.1

In [2]:
raw_data23 = pd.read_csv('accidentInfoList21-23.csv')
raw_data20 = pd.read_csv('accidentInfoList18-20.csv')
raw_data17 = pd.read_csv('accidentInfoList15-17.csv')
raw_data14 = pd.read_csv('accidentInfoList14.csv')

In [6]:
raw_data14.head()

,"검색조건 - 사고년도:2014~2014; 사고지역:서울특별시 :: 전체 :: ; 사고내용:사망사고, 중상사고, 경상사고, 부상신고; 음주운전 사고",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
1,2014010100100005,2014년 1월 1일 00시,수요일,서울특별시 구로구 오류동,부상신고사고,0,0,0,2,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,31세,상해없음,승용,남,65세,부상신고
2,2014010100100029,2014년 1월 1일 01시,수요일,서울특별시 성동구 마장동,중상사고,0,1,3,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,32세,상해없음,승용,남,54세,중상
3,2014010100100050,2014년 1월 1일 02시,수요일,서울특별시 광진구 광장동,중상사고,0,1,0,4,차대차 - 추돌 - 진행중,...,맑음,단일로 - 기타,승용,남,26세,상해없음,승용,여,26세,부상신고
4,2014010100100053,2014년 1월 1일 02시,수요일,서울특별시 구로구 개봉동,경상사고,0,0,2,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,29세,상해없음,승용,남,25세,경상

In [7]:
# 첫 줄 삭제
data14 = raw_data14.copy()
data14.columns = data14.iloc[0]
data14 = data14.drop(index=0).reset_index(drop=True)

In [9]:
data17 = raw_data17.copy()
data17.columns = data17.iloc[0]
data17 = data17.drop(index=0).reset_index(drop=True)
data20 = raw_data20.copy()
data20.columns = data20.iloc[0]
data20 = data20.drop(index=0).reset_index(drop=True)
data23 = raw_data23.copy()
data23.columns = data23.iloc[0]
data23 = data23.drop(index=0).reset_index(drop=True)

In [10]:
# 4개의 데이터프레임을 하나로 합치기
data = pd.concat([data14, data17, data20, data23], ignore_index=True)

In [11]:
data.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2014010100100005,2014년 1월 1일 00시,수요일,서울특별시 구로구 오류동,부상신고사고,0,0,0,2,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,31세,상해없음,승용,남,65세,부상신고
1,2014010100100029,2014년 1월 1일 01시,수요일,서울특별시 성동구 마장동,중상사고,0,1,3,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,32세,상해없음,승용,남,54세,중상
2,2014010100100050,2014년 1월 1일 02시,수요일,서울특별시 광진구 광장동,중상사고,0,1,0,4,차대차 - 추돌 - 진행중,...,맑음,단일로 - 기타,승용,남,26세,상해없음,승용,여,26세,부상신고
3,2014010100100053,2014년 1월 1일 02시,수요일,서울특별시 구로구 개봉동,경상사고,0,0,2,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,29세,상해없음,승용,남,25세,경상
4,2014010100100054,2014년 1월 1일 02시,수요일,서울특별시 양천구 목동,경상사고,0,0,2,0,차대차 - 측면직각충돌,...,맑음,교차로 - 교차로안,승용,여,42세,상해없음,승용,남,37세,경상

In [12]:
data.to_csv('accident.csv', index=False)

### 데이터 전처리
 * '사고 번호' 열 삭제
 * '사고 일시' ->datatime으로 변경
 * '사고 일시' -> 일자와 시간 열로
 * '시군구' 열 삭제
 * '사고 내용' 삭제
 * 사망자 수, 중상자 수, 경상자 수, 부상신고자 수 열 삭제
 * 사고 유형 split
 * 법규위반 열 삭제
 * 도로형태 split
 * 가해운전자 차종 승용 = 승용+승합, 화물 = 화물+건설기계, 보행자, 이륜 = 원동기+이륜차, 자전거 = 자전거 + 킥보드 만 남기기
 * 가해운전자 성별 열 삭제
 * 가해운전자 나이 숫자만 남기기 + int형으로
 * 피해운전자 차종 승용 = 승용+승합, 화물 = 화물+건설기계, 보행자, 이륜 = 원동기+이륜차, 자전거 = 자전거 + 킥보드 만 남기기
 * 피해운전자 상해정도 기타불명, 미분류 삭제
 * csv 파일 생성
 * 범주형 데이터들 모두 숫자로 변경

In [56]:
data = pd.read_csv('accident.csv')

In [57]:
data = data.drop(columns=['사고번호', '시군구', '사고내용', '사망자수', '중상자수', '경상자수', '부상신고자수', '법규위반', '가해운전자 성별'])

In [58]:
data.head()

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2014년 1월 1일 00시,수요일,차대차 - 기타,건조,맑음,단일로 - 기타,승용,31세,상해없음,승용,남,65세,부상신고
1,2014년 1월 1일 01시,수요일,차대차 - 기타,기타,맑음,단일로 - 기타,승용,32세,상해없음,승용,남,54세,중상
2,2014년 1월 1일 02시,수요일,차대차 - 추돌 - 진행중,건조,맑음,단일로 - 기타,승용,26세,상해없음,승용,여,26세,부상신고
3,2014년 1월 1일 02시,수요일,차대차 - 기타,건조,맑음,단일로 - 기타,승용,29세,상해없음,승용,남,25세,경상
4,2014년 1월 1일 02시,수요일,차대차 - 측면직각충돌,건조,맑음,교차로 - 교차로안,승용,42세,상해없음,승용,남,37세,경상

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26270 entries, 0 to 26269
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고일시        26270 non-null  object
 1   요일          26270 non-null  object
 2   사고유형        26270 non-null  object
 3   노면상태        26270 non-null  object
 4   기상상태        26270 non-null  object
 5   도로형태        26270 non-null  object
 6   가해운전자 차종    26270 non-null  object
 7   가해운전자 연령    26270 non-null  object
 8   가해운전자 상해정도  26270 non-null  object
 9   피해운전자 차종    24900 non-null  object
 10  피해운전자 성별    24900 non-null  object
 11  피해운전자 연령    24900 non-null  object
 12  피해운전자 상해정도  24900 non-null  object
dtypes: object(13)
memory usage: 2.6+ MB

In [60]:
data['사고일시'] = pd.to_datetime(data['사고일시'], format='%Y년 %m월 %d일 %H시')
data['사고날짜'] = data['사고일시'].dt.date
data['사고시간'] = data['사고일시'].dt.time

In [61]:
data.head()

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사고날짜,사고시간
0,2014-01-01 00:00:00,수요일,차대차 - 기타,건조,맑음,단일로 - 기타,승용,31세,상해없음,승용,남,65세,부상신고,2014-01-01,00:00:00
1,2014-01-01 01:00:00,수요일,차대차 - 기타,기타,맑음,단일로 - 기타,승용,32세,상해없음,승용,남,54세,중상,2014-01-01,01:00:00
2,2014-01-01 02:00:00,수요일,차대차 - 추돌 - 진행중,건조,맑음,단일로 - 기타,승용,26세,상해없음,승용,여,26세,부상신고,2014-01-01,02:00:00
3,2014-01-01 02:00:00,수요일,차대차 - 기타,건조,맑음,단일로 - 기타,승용,29세,상해없음,승용,남,25세,경상,2014-01-01,02:00:00
4,2014-01-01 02:00:00,수요일,차대차 - 측면직각충돌,건조,맑음,교차로 - 교차로안,승용,42세,상해없음,승용,남,37세,경상,2014-01-01,02:00:00

In [62]:
data['사고유형'] = data['사고유형'].apply(lambda x: x.split()[0])

In [63]:
data.head(1)

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사고날짜,사고시간
0,2014-01-01,수요일,차대차,건조,맑음,단일로 - 기타,승용,31세,상해없음,승용,남,65세,부상신고,2014-01-01,00:00:00

In [64]:
data['도로형태'] = data['도로형태'].apply(lambda x: x.split()[0])

In [65]:
data.head(1)

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사고날짜,사고시간
0,2014-01-01,수요일,차대차,건조,맑음,단일로,승용,31세,상해없음,승용,남,65세,부상신고,2014-01-01,00:00:00

In [66]:
data['가해운전자 차종'] = data['가해운전자 차종'].replace('승합', '승용')
data['가해운전자 차종'] = data['가해운전자 차종'].replace('건설기계', '화물')
data['가해운전자 차종'] = data['가해운전자 차종'].replace('원동기', '이륜')
data['가해운전자 차종'] = data['가해운전자 차종'].replace('개인형이동수단(PM)', '자전거')

valid = ['승용', '화물', '보행자', '이륜', '자전거']
data = data[data['가해운전자 차종'].isin(valid)]

In [67]:
data.head()

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사고날짜,사고시간
0,2014-01-01 00:00:00,수요일,차대차,건조,맑음,단일로,승용,31세,상해없음,승용,남,65세,부상신고,2014-01-01,00:00:00
1,2014-01-01 01:00:00,수요일,차대차,기타,맑음,단일로,승용,32세,상해없음,승용,남,54세,중상,2014-01-01,01:00:00
2,2014-01-01 02:00:00,수요일,차대차,건조,맑음,단일로,승용,26세,상해없음,승용,여,26세,부상신고,2014-01-01,02:00:00
3,2014-01-01 02:00:00,수요일,차대차,건조,맑음,단일로,승용,29세,상해없음,승용,남,25세,경상,2014-01-01,02:00:00
4,2014-01-01 02:00:00,수요일,차대차,건조,맑음,교차로,승용,42세,상해없음,승용,남,37세,경상,2014-01-01,02:00:00

In [68]:
data['피해운전자 차종'] = data['피해운전자 차종'].replace('승합', '승용')
data['피해운전자 차종'] = data['피해운전자 차종'].replace('건설기계', '화물')
data['피해운전자 차종'] = data['피해운전자 차종'].replace('원동기', '이륜')
data['피해운전자 차종'] = data['피해운전자 차종'].replace('개인형이동수단(PM)', '자전거')

valid = ['승용', '화물', '보행자', '이륜', '자전거']
data = data[data['피해운전자 차종'].isin(valid)]

In [69]:
data['가해운전자 연령'] = data['가해운전자 연령'].str.extract(r'(\d+)').astype(int)

In [70]:
data.head()

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사고날짜,사고시간
0,2014-01-01 00:00:00,수요일,차대차,건조,맑음,단일로,승용,31,상해없음,승용,남,65세,부상신고,2014-01-01,00:00:00
1,2014-01-01 01:00:00,수요일,차대차,기타,맑음,단일로,승용,32,상해없음,승용,남,54세,중상,2014-01-01,01:00:00
2,2014-01-01 02:00:00,수요일,차대차,건조,맑음,단일로,승용,26,상해없음,승용,여,26세,부상신고,2014-01-01,02:00:00
3,2014-01-01 02:00:00,수요일,차대차,건조,맑음,단일로,승용,29,상해없음,승용,남,25세,경상,2014-01-01,02:00:00
4,2014-01-01 02:00:00,수요일,차대차,건조,맑음,교차로,승용,42,상해없음,승용,남,37세,경상,2014-01-01,02:00:00

In [71]:
data['피해운전자 연령'] = data['피해운전자 연령'].astype(str).str.extract(r'(\d+)').astype(float)

In [74]:
valid_degree = ['상해없음','부상신고', '경상', '중상','사망']
data = data[data['피해운전자 상해정도'].isin(valid_degree)]
data = data[data['가해운전자 상해정도'].isin(valid_degree)]

In [77]:
data['피해운전자 상해정도'].value_counts()

피해운전자 상해정도
경상      16649
중상       4580
상해없음     1882
부상신고      652
사망         90
Name: count, dtype: int64

In [78]:
data['가해운전자 상해정도'].value_counts()

가해운전자 상해정도
상해없음    22158
경상        722
부상신고      535
중상        393
사망         45
Name: count, dtype: int64

In [80]:
data['사고유형'].value_counts()

사고유형
차대차     21586
차대사람     2267
Name: count, dtype: int64

In [81]:
data['가해운전자 차종'].value_counts()

가해운전자 차종
승용     20318
이륜      1829
화물      1331
자전거      375
Name: count, dtype: int64

In [82]:
data['피해운전자 차종'].value_counts()

피해운전자 차종
승용     18751
보행자     2268
이륜      1372
화물      1208
자전거      254
Name: count, dtype: int64

In [83]:
data['도로형태'].value_counts()

도로형태
단일로    13893
교차로     8855
기타      1026
미분류       53
주차장       26
Name: count, dtype: int64

In [84]:
valid_road = ['단일로','교차로', '주차장']
data = data[data['도로형태'].isin(valid_road)]
data = data[data['도로형태'].isin(valid_road)]

In [85]:
data['도로형태'].value_counts()

도로형태
단일로    13893
교차로     8855
주차장       26
Name: count, dtype: int64

In [86]:
data['노면상태'].value_counts()

노면상태
건조       19418
젖음/습기     1719
습기        1085
기타         429
적설          62
서리/결빙       40
결빙          19
침수           1
해빙           1
Name: count, dtype: int64

In [87]:
data['기상상태'].value_counts()

기상상태
맑음    18871
비      2096
흐림     1297
기타      358
눈       149
안개        3
Name: count, dtype: int64

In [88]:
data = data[~data['노면상태'].isin(['침수', '해빙'])]

In [89]:
data['노면상태'].value_counts()

노면상태
건조       19418
젖음/습기     1719
습기        1085
기타         429
적설          62
서리/결빙       40
결빙          19
Name: count, dtype: int64

In [92]:
data['가해운전자 연령'].value_counts()

가해운전자 연령
29    814
31    800
32    778
30    777
33    763
     ...
76     11
77      9
80      3
78      2
79      2
Name: count, Length: 62, dtype: int64

In [93]:
data.to_csv('not_cate_data.csv', index=False)