In [1]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sklearn

print('numpy version:', np.__version__)
print('pandas version:', pd.__version__)
print('seaborn version:', sns.__version__)
print(f"matplotlib: mpl {plt.matplotlib.__version__}")
print('sklearn version:', sklearn.__version__)

font_path = "c:/Windows/Fonts/malgun.ttf"
font_prop = mpl.font_manager.FontProperties(fname=font_path)
mpl.rcParams['font.family'] = font_prop.get_name()
mpl.rcParams['axes.unicode_minus'] = False

numpy version: 2.1.0
pandas version: 2.2.2
seaborn version: 0.13.2
matplotlib: mpl 3.9.2
sklearn version: 1.5.1

In [2]:
raw_data23 = pd.read_csv('accidentInfoList21-23.csv')
raw_data20 = pd.read_csv('accidentInfoList18-20.csv')
raw_data17 = pd.read_csv('accidentInfoList15-17.csv')
raw_data14 = pd.read_csv('accidentInfoList14.csv')

In [6]:
raw_data14.head()

,"검색조건 - 사고년도:2014~2014; 사고지역:서울특별시 :: 전체 :: ; 사고내용:사망사고, 중상사고, 경상사고, 부상신고; 음주운전 사고",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
1,2014010100100005,2014년 1월 1일 00시,수요일,서울특별시 구로구 오류동,부상신고사고,0,0,0,2,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,31세,상해없음,승용,남,65세,부상신고
2,2014010100100029,2014년 1월 1일 01시,수요일,서울특별시 성동구 마장동,중상사고,0,1,3,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,32세,상해없음,승용,남,54세,중상
3,2014010100100050,2014년 1월 1일 02시,수요일,서울특별시 광진구 광장동,중상사고,0,1,0,4,차대차 - 추돌 - 진행중,...,맑음,단일로 - 기타,승용,남,26세,상해없음,승용,여,26세,부상신고
4,2014010100100053,2014년 1월 1일 02시,수요일,서울특별시 구로구 개봉동,경상사고,0,0,2,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,29세,상해없음,승용,남,25세,경상

In [7]:
# 첫 줄 삭제
data14 = raw_data14.copy()
data14.columns = data14.iloc[0]
data14 = data14.drop(index=0).reset_index(drop=True)

In [9]:
data17 = raw_data17.copy()
data17.columns = data17.iloc[0]
data17 = data17.drop(index=0).reset_index(drop=True)
data20 = raw_data20.copy()
data20.columns = data20.iloc[0]
data20 = data20.drop(index=0).reset_index(drop=True)
data23 = raw_data23.copy()
data23.columns = data23.iloc[0]
data23 = data23.drop(index=0).reset_index(drop=True)

In [10]:
# 4개의 데이터프레임을 하나로 합치기
data = pd.concat([data14, data17, data20, data23], ignore_index=True)

In [11]:
data.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2014010100100005,2014년 1월 1일 00시,수요일,서울특별시 구로구 오류동,부상신고사고,0,0,0,2,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,31세,상해없음,승용,남,65세,부상신고
1,2014010100100029,2014년 1월 1일 01시,수요일,서울특별시 성동구 마장동,중상사고,0,1,3,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,32세,상해없음,승용,남,54세,중상
2,2014010100100050,2014년 1월 1일 02시,수요일,서울특별시 광진구 광장동,중상사고,0,1,0,4,차대차 - 추돌 - 진행중,...,맑음,단일로 - 기타,승용,남,26세,상해없음,승용,여,26세,부상신고
3,2014010100100053,2014년 1월 1일 02시,수요일,서울특별시 구로구 개봉동,경상사고,0,0,2,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,29세,상해없음,승용,남,25세,경상
4,2014010100100054,2014년 1월 1일 02시,수요일,서울특별시 양천구 목동,경상사고,0,0,2,0,차대차 - 측면직각충돌,...,맑음,교차로 - 교차로안,승용,여,42세,상해없음,승용,남,37세,경상

In [12]:
data.to_csv('accident.csv', index=False)

### 데이터 전처리
 * '사고 번호' 열 삭제
 * '사고 일시' ->datatime으로 변경
 * '사고 일시' -> 일자와 시간 열로
 * '시군구' 열 삭제
 * '사고 내용' 삭제
 * 사망자 수, 중상자 수, 경상자 수, 부상신고자 수 열 삭제
 * 사고 유형 split
 * 법규위반 열 삭제
 * 도로형태 split
 * 가해운전자 차종 승용 = 승용+승합, 화물 = 화물+건설기계, 보행자, 이륜 = 원동기+이륜차, 자전거 = 자전거 + 킥보드 만 남기기
 * 가해운전자 성별 열 삭제
 * 가해운전자 나이 숫자만 남기기 + int형으로
 * 피해운전자 차종 승용 = 승용+승합, 화물 = 화물+건설기계, 보행자, 이륜 = 원동기+이륜차, 자전거 = 자전거 + 킥보드 만 남기기
 * 피해운전자 상해정도 기타불명, 미분류 삭제
 * csv 파일 생성
 * 범주형 데이터들 모두 숫자로 변경

In [306]:
data = pd.read_csv('accident.csv')

In [307]:
data = data.drop(columns=['사고번호', '시군구', '사고내용', '사망자수', '중상자수', '경상자수', '부상신고자수', '법규위반', '가해운전자 성별'])

In [308]:
data.head()

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2014년 1월 1일 00시,수요일,차대차 - 기타,건조,맑음,단일로 - 기타,승용,31세,상해없음,승용,남,65세,부상신고
1,2014년 1월 1일 01시,수요일,차대차 - 기타,기타,맑음,단일로 - 기타,승용,32세,상해없음,승용,남,54세,중상
2,2014년 1월 1일 02시,수요일,차대차 - 추돌 - 진행중,건조,맑음,단일로 - 기타,승용,26세,상해없음,승용,여,26세,부상신고
3,2014년 1월 1일 02시,수요일,차대차 - 기타,건조,맑음,단일로 - 기타,승용,29세,상해없음,승용,남,25세,경상
4,2014년 1월 1일 02시,수요일,차대차 - 측면직각충돌,건조,맑음,교차로 - 교차로안,승용,42세,상해없음,승용,남,37세,경상

In [309]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26270 entries, 0 to 26269
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고일시        26270 non-null  object
 1   요일          26270 non-null  object
 2   사고유형        26270 non-null  object
 3   노면상태        26270 non-null  object
 4   기상상태        26270 non-null  object
 5   도로형태        26270 non-null  object
 6   가해운전자 차종    26270 non-null  object
 7   가해운전자 연령    26270 non-null  object
 8   가해운전자 상해정도  26270 non-null  object
 9   피해운전자 차종    24900 non-null  object
 10  피해운전자 성별    24900 non-null  object
 11  피해운전자 연령    24900 non-null  object
 12  피해운전자 상해정도  24900 non-null  object
dtypes: object(13)
memory usage: 2.6+ MB

In [310]:
data['사고일시'] = pd.to_datetime(data['사고일시'], format='%Y년 %m월 %d일 %H시')
data['사고날짜'] = data['사고일시'].dt.date
data['사고시간'] = data['사고일시'].dt.time

In [311]:
data.head()

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사고날짜,사고시간
0,2014-01-01 00:00:00,수요일,차대차 - 기타,건조,맑음,단일로 - 기타,승용,31세,상해없음,승용,남,65세,부상신고,2014-01-01,00:00:00
1,2014-01-01 01:00:00,수요일,차대차 - 기타,기타,맑음,단일로 - 기타,승용,32세,상해없음,승용,남,54세,중상,2014-01-01,01:00:00
2,2014-01-01 02:00:00,수요일,차대차 - 추돌 - 진행중,건조,맑음,단일로 - 기타,승용,26세,상해없음,승용,여,26세,부상신고,2014-01-01,02:00:00
3,2014-01-01 02:00:00,수요일,차대차 - 기타,건조,맑음,단일로 - 기타,승용,29세,상해없음,승용,남,25세,경상,2014-01-01,02:00:00
4,2014-01-01 02:00:00,수요일,차대차 - 측면직각충돌,건조,맑음,교차로 - 교차로안,승용,42세,상해없음,승용,남,37세,경상,2014-01-01,02:00:00

In [312]:
data['사고유형'] = data['사고유형'].apply(lambda x: x.split()[0])

In [313]:
data.head(1)

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사고날짜,사고시간
0,2014-01-01,수요일,차대차,건조,맑음,단일로 - 기타,승용,31세,상해없음,승용,남,65세,부상신고,2014-01-01,00:00:00

In [314]:
data['사고유형'].value_counts()

사고유형
차대차     22510
차대사람     2322
차량단독     1438
Name: count, dtype: int64

In [315]:
data['도로형태'] = data['도로형태'].apply(lambda x: x.split()[0])

In [316]:
data.head(1)

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사고날짜,사고시간
0,2014-01-01,수요일,차대차,건조,맑음,단일로,승용,31세,상해없음,승용,남,65세,부상신고,2014-01-01,00:00:00

In [317]:
data['도로형태'].value_counts()

도로형태
단일로    15593
교차로     9419
기타      1154
미분류       75
주차장       29
Name: count, dtype: int64

In [318]:
data['가해운전자 차종'] = data['가해운전자 차종'].replace('승합', '승용')
data['가해운전자 차종'] = data['가해운전자 차종'].replace('건설기계', '화물')
data['가해운전자 차종'] = data['가해운전자 차종'].replace('원동기', '이륜')
data['가해운전자 차종'] = data['가해운전자 차종'].replace('개인형이동수단(PM)', '자전거')

valid = ['승용', '화물', '보행자', '이륜', '자전거']
data = data[data['가해운전자 차종'].isin(valid)]

In [319]:
data['사고유형'].value_counts()

사고유형
차대차     22500
차대사람     2321
차량단독     1433
Name: count, dtype: int64

In [320]:
data['피해운전자 차종'] = data['피해운전자 차종'].replace('승합', '승용')
data['피해운전자 차종'] = data['피해운전자 차종'].replace('건설기계', '화물')
data['피해운전자 차종'] = data['피해운전자 차종'].replace('원동기', '이륜')
data['피해운전자 차종'] = data['피해운전자 차종'].replace('개인형이동수단(PM)', '자전거')

data = data[~data['피해운전자 차종'].isin(['특수', '기타불명','사륜오토바이(ATV)','농기계'])]

In [321]:
data['사고유형'].value_counts()

사고유형
차대차     22439
차대사람     2321
차량단독     1433
Name: count, dtype: int64

In [322]:
data['가해운전자 연령'] = data['가해운전자 연령'].str.extract(r'(\d+)').astype(int)

In [323]:
data.head()

,사고일시,요일,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사고날짜,사고시간
0,2014-01-01 00:00:00,수요일,차대차,건조,맑음,단일로,승용,31,상해없음,승용,남,65세,부상신고,2014-01-01,00:00:00
1,2014-01-01 01:00:00,수요일,차대차,기타,맑음,단일로,승용,32,상해없음,승용,남,54세,중상,2014-01-01,01:00:00
2,2014-01-01 02:00:00,수요일,차대차,건조,맑음,단일로,승용,26,상해없음,승용,여,26세,부상신고,2014-01-01,02:00:00
3,2014-01-01 02:00:00,수요일,차대차,건조,맑음,단일로,승용,29,상해없음,승용,남,25세,경상,2014-01-01,02:00:00
4,2014-01-01 02:00:00,수요일,차대차,건조,맑음,교차로,승용,42,상해없음,승용,남,37세,경상,2014-01-01,02:00:00

In [324]:
data['피해운전자 연령'] = data['피해운전자 연령'].astype(str).str.extract(r'(\d+)').astype(float)

In [325]:
data = data[~data['피해운전자 상해정도'].isin(['기타불명', '미분류'])]

In [326]:
data['사고유형'].value_counts()

사고유형
차대차     22114
차대사람     2321
차량단독     1365
Name: count, dtype: int64

In [327]:
data['피해운전자 상해정도'].value_counts()

피해운전자 상해정도
경상      17039
중상       4722
상해없음     1913
부상신고      668
사망         93
Name: count, dtype: int64

In [328]:
data = data[~data['가해운전자 상해정도'].isin(['기타불명'])]

In [329]:
data['가해운전자 상해정도'].value_counts()

가해운전자 상해정도
상해없음    22327
경상       1156
부상신고      914
중상        699
사망        109
Name: count, dtype: int64

In [330]:
data['사고유형'].value_counts()

사고유형
차대차     21586
차대사람     2267
차량단독     1352
Name: count, dtype: int64

In [331]:
data['가해운전자 차종'].value_counts()

가해운전자 차종
승용     20711
이륜      2700
화물      1358
자전거      436
Name: count, dtype: int64

In [332]:
data['피해운전자 차종'].value_counts()

피해운전자 차종
승용     18751
보행자     2268
이륜      1372
화물      1208
자전거      254
Name: count, dtype: int64

In [333]:
data['도로형태'].value_counts()

도로형태
단일로    14927
교차로     9095
기타      1084
미분류       72
주차장       27
Name: count, dtype: int64

In [334]:
valid_road = ['단일로','교차로', '주차장']
data = data[data['도로형태'].isin(valid_road)]
data = data[data['도로형태'].isin(valid_road)]

In [335]:
data['도로형태'].value_counts()

도로형태
단일로    14927
교차로     9095
주차장       27
Name: count, dtype: int64

In [336]:
data['노면상태'].value_counts()

노면상태
건조       20523
젖음/습기     1788
습기        1149
기타         459
적설          63
서리/결빙       43
결빙          22
침수           1
해빙           1
Name: count, dtype: int64

In [337]:
data['기상상태'].value_counts()

기상상태
맑음    19943
비      2181
흐림     1385
기타      380
눈       155
안개        5
Name: count, dtype: int64

In [338]:
data = data[~data['노면상태'].isin(['침수', '해빙'])]

In [339]:
data['노면상태'].value_counts()

노면상태
건조       20523
젖음/습기     1788
습기        1149
기타         459
적설          63
서리/결빙       43
결빙          22
Name: count, dtype: int64

In [340]:
data['가해운전자 연령'].value_counts()

가해운전자 연령
29    851
31    842
30    819
32    810
33    798
     ...
76     11
77      9
80      4
78      2
79      2
Name: count, Length: 62, dtype: int64

In [341]:
data.to_csv('not_cate_data.csv', index=False)

In [342]:
data.to_csv('not_cate_data_kor.csv', index=False, encoding='cp949')

### 데이터 전처리 - 원/핫 인코딩

In [343]:
data = pd.read_csv('not_cate_data.csv')

In [344]:
data = pd.get_dummies(data, columns=['요일'])

In [345]:
data.head()

,사고일시,사고유형,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,...,피해운전자 상해정도,사고날짜,사고시간,요일_금요일,요일_목요일,요일_수요일,요일_월요일,요일_일요일,요일_토요일,요일_화요일
0,2014-01-01 00:00:00,차대차,건조,맑음,단일로,승용,31,상해없음,승용,남,...,부상신고,2014-01-01,00:00:00,False,False,True,False,False,False,False
1,2014-01-01 01:00:00,차대차,기타,맑음,단일로,승용,32,상해없음,승용,남,...,중상,2014-01-01,01:00:00,False,False,True,False,False,False,False
2,2014-01-01 02:00:00,차대차,건조,맑음,단일로,승용,26,상해없음,승용,여,...,부상신고,2014-01-01,02:00:00,False,False,True,False,False,False,False
3,2014-01-01 02:00:00,차대차,건조,맑음,단일로,승용,29,상해없음,승용,남,...,경상,2014-01-01,02:00:00,False,False,True,False,False,False,False
4,2014-01-01 02:00:00,차대차,건조,맑음,교차로,승용,42,상해없음,승용,남,...,경상,2014-01-01,02:00:00,False,False,True,False,False,False,False

In [346]:
data['사고일시'] = pd.to_datetime(data['사고일시'])

In [347]:
data['년'] = data['사고일시'].dt.year
data['월'] = data['사고일시'].dt.month
data['일'] = data['사고일시'].dt.day
data['시간'] = data['사고일시'].dt.hour

In [348]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24047 entries, 0 to 24046
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고일시        24047 non-null  datetime64[ns]
 1   사고유형        24047 non-null  object
 2   노면상태        24047 non-null  object
 3   기상상태        24047 non-null  object
 4   도로형태        24047 non-null  object
 5   가해운전자 차종    24047 non-null  object
 6   가해운전자 연령    24047 non-null  int64
 7   가해운전자 상해정도  24047 non-null  object
 8   피해운전자 차종    22772 non-null  object
 9   피해운전자 성별    22772 non-null  object
 10  피해운전자 연령    22772 non-null  float64
 11  피해운전자 상해정도  22772 non-null  object
 12  사고날짜        24047 non-null  object
 13  사고시간        24047 non-null  object
 14  요일_금요일      24047 non-null  bool
 15  요일_목요일      24047 non-null  bool
 16  요일_수요일      24047 non-null  bool
 17  요일_월요일      24047 non-null  bool
 18  요일_일요일      24047 non-null  bool
 19  요일_토요일      24047 non-null  bool
 20  요일_화요일      24047 non-null  bool
 21  년           24047 non-null  int32
 22  월           24047 non-null  int32
 23  일           24047 non-null  int32
 24  시간          24047 non-null  int32
dtypes: bool(7), datetime64[ns](1), float64(1), int32(4), int64(1), object(11)
memory usage: 3.1+ MB

In [349]:
data = data.drop('사고날짜', axis=1)

In [350]:
data = data.drop('사고시간', axis=1)

In [351]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24047 entries, 0 to 24046
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고일시        24047 non-null  datetime64[ns]
 1   사고유형        24047 non-null  object
 2   노면상태        24047 non-null  object
 3   기상상태        24047 non-null  object
 4   도로형태        24047 non-null  object
 5   가해운전자 차종    24047 non-null  object
 6   가해운전자 연령    24047 non-null  int64
 7   가해운전자 상해정도  24047 non-null  object
 8   피해운전자 차종    22772 non-null  object
 9   피해운전자 성별    22772 non-null  object
 10  피해운전자 연령    22772 non-null  float64
 11  피해운전자 상해정도  22772 non-null  object
 12  요일_금요일      24047 non-null  bool
 13  요일_목요일      24047 non-null  bool
 14  요일_수요일      24047 non-null  bool
 15  요일_월요일      24047 non-null  bool
 16  요일_일요일      24047 non-null  bool
 17  요일_토요일      24047 non-null  bool
 18  요일_화요일      24047 non-null  bool
 19  년           24047 non-null  int32
 20  월           24047 non-null  int32
 21  일           24047 non-null  int32
 22  시간          24047 non-null  int32
dtypes: bool(7), datetime64[ns](1), float64(1), int32(4), int64(1), object(9)
memory usage: 2.7+ MB

In [352]:
data = pd.get_dummies(data, columns=['사고유형'])
data = pd.get_dummies(data, columns=['노면상태'])
data = pd.get_dummies(data, columns=['기상상태'])
data = pd.get_dummies(data, columns=['도로형태'])
data = pd.get_dummies(data, columns=['가해운전자 차종'])
data = pd.get_dummies(data, columns=['피해운전자 차종'])
data = pd.get_dummies(data, columns=['피해운전자 성별'])

In [353]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24047 entries, 0 to 24046
Data columns (total 46 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사고일시          24047 non-null  datetime64[ns]
 1   가해운전자 연령      24047 non-null  int64
 2   가해운전자 상해정도    24047 non-null  object
 3   피해운전자 연령      22772 non-null  float64
 4   피해운전자 상해정도    22772 non-null  object
 5   요일_금요일        24047 non-null  bool
 6   요일_목요일        24047 non-null  bool
 7   요일_수요일        24047 non-null  bool
 8   요일_월요일        24047 non-null  bool
 9   요일_일요일        24047 non-null  bool
 10  요일_토요일        24047 non-null  bool
 11  요일_화요일        24047 non-null  bool
 12  년             24047 non-null  int32
 13  월             24047 non-null  int32
 14  일             24047 non-null  int32
 15  시간            24047 non-null  int32
 16  사고유형_차대사람     24047 non-null  bool
 17  사고유형_차대차      24047 non-null  bool
 18  사고유형_차량단독     24047 non-null  bool
 19  노면상태_건조       24047 non-null  bool
 20  노면상태_결빙       24047 non-null  bool
 21  노면상태_기타       24047 non-null  bool
 22  노면상태_서리/결빙    24047 non-null  bool
 23  노면상태_습기       24047 non-null  bool
 24  노면상태_적설       24047 non-null  bool
 25  노면상태_젖음/습기    24047 non-null  bool
 26  기상상태_기타       24047 non-null  bool
 27  기상상태_눈        24047 non-null  bool
 28  기상상태_맑음       24047 non-null  bool
 29  기상상태_비        24047 non-null  bool
 30  기상상태_안개       24047 non-null  bool
 31  기상상태_흐림       24047 non-null  bool
 32  도로형태_교차로      24047 non-null  bool
 33  도로형태_단일로      24047 non-null  bool
 34  도로형태_주차장      24047 non-null  bool
 35  가해운전자 차종_승용   24047 non-null  bool
 36  가해운전자 차종_이륜   24047 non-null  bool
 37  가해운전자 차종_자전거  24047 non-null  bool
 38  가해운전자 차종_화물   24047 non-null  bool
 39  피해운전자 차종_보행자  24047 non-null  bool
 40  피해운전자 차종_승용   24047 non-null  bool
 41  피해운전자 차종_이륜   24047 non-null  bool
 42  피해운전자 차종_자전거  24047 non-null  bool
 43  피해운전자 차종_화물   24047 non-null  bool
 44  피해운전자 성별_남    24047 non-null  bool
 45  피해운전자 성별_여    24047 non-null  bool
dtypes: bool(37), datetime64[ns](1), float64(1), int32(4), int64(1), object(2)
memory usage: 2.1+ MB

In [354]:
# '피해운전자 상해정도'에서 NaN 값을 '가해운전자 상해정도'로 대체
data['피해운전자 연령'] = data['피해운전자 연령'].fillna(data['가해운전자 연령'])
data['피해운전자 상해정도'] = data['피해운전자 상해정도'].fillna(data['가해운전자 상해정도'])

In [355]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24047 entries, 0 to 24046
Data columns (total 46 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사고일시          24047 non-null  datetime64[ns]
 1   가해운전자 연령      24047 non-null  int64
 2   가해운전자 상해정도    24047 non-null  object
 3   피해운전자 연령      24047 non-null  float64
 4   피해운전자 상해정도    24047 non-null  object
 5   요일_금요일        24047 non-null  bool
 6   요일_목요일        24047 non-null  bool
 7   요일_수요일        24047 non-null  bool
 8   요일_월요일        24047 non-null  bool
 9   요일_일요일        24047 non-null  bool
 10  요일_토요일        24047 non-null  bool
 11  요일_화요일        24047 non-null  bool
 12  년             24047 non-null  int32
 13  월             24047 non-null  int32
 14  일             24047 non-null  int32
 15  시간            24047 non-null  int32
 16  사고유형_차대사람     24047 non-null  bool
 17  사고유형_차대차      24047 non-null  bool
 18  사고유형_차량단독     24047 non-null  bool
 19  노면상태_건조       24047 non-null  bool
 20  노면상태_결빙       24047 non-null  bool
 21  노면상태_기타       24047 non-null  bool
 22  노면상태_서리/결빙    24047 non-null  bool
 23  노면상태_습기       24047 non-null  bool
 24  노면상태_적설       24047 non-null  bool
 25  노면상태_젖음/습기    24047 non-null  bool
 26  기상상태_기타       24047 non-null  bool
 27  기상상태_눈        24047 non-null  bool
 28  기상상태_맑음       24047 non-null  bool
 29  기상상태_비        24047 non-null  bool
 30  기상상태_안개       24047 non-null  bool
 31  기상상태_흐림       24047 non-null  bool
 32  도로형태_교차로      24047 non-null  bool
 33  도로형태_단일로      24047 non-null  bool
 34  도로형태_주차장      24047 non-null  bool
 35  가해운전자 차종_승용   24047 non-null  bool
 36  가해운전자 차종_이륜   24047 non-null  bool
 37  가해운전자 차종_자전거  24047 non-null  bool
 38  가해운전자 차종_화물   24047 non-null  bool
 39  피해운전자 차종_보행자  24047 non-null  bool
 40  피해운전자 차종_승용   24047 non-null  bool
 41  피해운전자 차종_이륜   24047 non-null  bool
 42  피해운전자 차종_자전거  24047 non-null  bool
 43  피해운전자 차종_화물   24047 non-null  bool
 44  피해운전자 성별_남    24047 non-null  bool
 45  피해운전자 성별_여    24047 non-null  bool
dtypes: bool(37), datetime64[ns](1), float64(1), int32(4), int64(1), object(2)
memory usage: 2.1+ MB

In [356]:
data = pd.get_dummies(data, columns=['가해운전자 상해정도'])
data = pd.get_dummies(data, columns=['피해운전자 상해정도'])

In [357]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24047 entries, 0 to 24046
Data columns (total 54 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   사고일시             24047 non-null  datetime64[ns]
 1   가해운전자 연령         24047 non-null  int64
 2   피해운전자 연령         24047 non-null  float64
 3   요일_금요일           24047 non-null  bool
 4   요일_목요일           24047 non-null  bool
 5   요일_수요일           24047 non-null  bool
 6   요일_월요일           24047 non-null  bool
 7   요일_일요일           24047 non-null  bool
 8   요일_토요일           24047 non-null  bool
 9   요일_화요일           24047 non-null  bool
 10  년                24047 non-null  int32
 11  월                24047 non-null  int32
 12  일                24047 non-null  int32
 13  시간               24047 non-null  int32
 14  사고유형_차대사람        24047 non-null  bool
 15  사고유형_차대차         24047 non-null  bool
 16  사고유형_차량단독        24047 non-null  bool
 17  노면상태_건조          24047 non-null  bool
 18  노면상태_결빙          24047 non-null  bool
 19  노면상태_기타          24047 non-null  bool
 20  노면상태_서리/결빙       24047 non-null  bool
 21  노면상태_습기          24047 non-null  bool
 22  노면상태_적설          24047 non-null  bool
 23  노면상태_젖음/습기       24047 non-null  bool
 24  기상상태_기타          24047 non-null  bool
 25  기상상태_눈           24047 non-null  bool
 26  기상상태_맑음          24047 non-null  bool
 27  기상상태_비           24047 non-null  bool
 28  기상상태_안개          24047 non-null  bool
 29  기상상태_흐림          24047 non-null  bool
 30  도로형태_교차로         24047 non-null  bool
 31  도로형태_단일로         24047 non-null  bool
 32  도로형태_주차장         24047 non-null  bool
 33  가해운전자 차종_승용      24047 non-null  bool
 34  가해운전자 차종_이륜      24047 non-null  bool
 35  가해운전자 차종_자전거     24047 non-null  bool
 36  가해운전자 차종_화물      24047 non-null  bool
 37  피해운전자 차종_보행자     24047 non-null  bool
 38  피해운전자 차종_승용      24047 non-null  bool
 39  피해운전자 차종_이륜      24047 non-null  bool
 40  피해운전자 차종_자전거     24047 non-null  bool
 41  피해운전자 차종_화물      24047 non-null  bool
 42  피해운전자 성별_남       24047 non-null  bool
 43  피해운전자 성별_여       24047 non-null  bool
 44  가해운전자 상해정도_경상    24047 non-null  bool
 45  가해운전자 상해정도_부상신고  24047 non-null  bool
 46  가해운전자 상해정도_사망    24047 non-null  bool
 47  가해운전자 상해정도_상해없음  24047 non-null  bool
 48  가해운전자 상해정도_중상    24047 non-null  bool
 49  피해운전자 상해정도_경상    24047 non-null  bool
 50  피해운전자 상해정도_부상신고  24047 non-null  bool
 51  피해운전자 상해정도_사망    24047 non-null  bool
 52  피해운전자 상해정도_상해없음  24047 non-null  bool
 53  피해운전자 상해정도_중상    24047 non-null  bool
dtypes: bool(47), datetime64[ns](1), float64(1), int32(4), int64(1)
memory usage: 2.0 MB

In [358]:
data = data.drop('사고일시', axis=1)

In [359]:
correlation_matrix = data.corr()

In [360]:
print(correlation_matrix)

                 가해운전자 연령  피해운전자 연령    요일_금요일    요일_목요일    요일_수요일    요일_월요일  \
가해운전자 연령         1.000000  0.038343  0.022089  0.023784  0.007432  0.015464
피해운전자 연령         0.038343  1.000000  0.007223  0.003292 -0.005295 -0.004950
요일_금요일           0.022089  0.007223  1.000000 -0.176100 -0.164117 -0.147406
요일_목요일           0.023784  0.003292 -0.176100  1.000000 -0.161037 -0.144640
요일_수요일           0.007432 -0.005295 -0.164117 -0.161037  1.000000 -0.134798
요일_월요일           0.015464 -0.004950 -0.147406 -0.144640 -0.134798  1.000000
요일_일요일          -0.057412 -0.014316 -0.176217 -0.172910 -0.161144 -0.144736
요일_토요일          -0.028416  0.002782 -0.202513 -0.198713 -0.185191 -0.166334
요일_화요일           0.023156  0.010617 -0.162670 -0.159618 -0.148756 -0.133609
년                0.098571  0.035342  0.005129  0.014758 -0.003056  0.020311
월                0.009064  0.013848  0.014211 -0.001922 -0.012807 -0.005557
일                0.003015  0.003406  0.019197  0.006592 -0.002182 -0.009403
시간               0.313895 -0.061485  0.019500  0.044741  0.028499  0.089421
사고유형_차대사람        0.010432 -0.054750 -0.011994  0.000369  0.000972  0.008272
사고유형_차대차         0.065488  0.178532  0.016082  0.007084  0.002189 -0.011855
사고유형_차량단독       -0.114629 -0.207731 -0.009820 -0.011443 -0.004617  0.007955
노면상태_건조         -0.020057 -0.001305  0.032153  0.000403 -0.008077 -0.012661
노면상태_결빙         -0.010019 -0.009227 -0.012820  0.010705  0.004611  0.002766
노면상태_기타         -0.011557 -0.004704 -0.004943 -0.010827  0.001897  0.012171
노면상태_서리/결빙      -0.013967  0.008329 -0.004228 -0.014817  0.009902 -0.002042
노면상태_습기         -0.009605 -0.014662 -0.010765 -0.005660 -0.006331 -0.003824
노면상태_적설         -0.000412  0.007494 -0.001328 -0.014419  0.013957 -0.007349
노면상태_젖음/습기       0.044359  0.014395 -0.029596  0.013668  0.010200  0.015271
기상상태_기타         -0.013731 -0.007677 -0.004340  0.007686 -0.001445  0.002226
기상상태_눈          -0.012746  0.008405 -0.010974 -0.023219  0.005821  0.007133
기상상태_맑음         -0.022792 -0.013628  0.019839 -0.001039 -0.005398 -0.006689
기상상태_비           0.037198  0.007519 -0.024884  0.004007  0.010114  0.017530
기상상태_안개          0.005335 -0.004322  0.001921 -0.005995 -0.005587  0.004275
기상상태_흐림          0.002351  0.014225  0.004601  0.000976 -0.004629 -0.014708
도로형태_교차로        -0.008633  0.041684 -0.006863 -0.017632  0.007710 -0.001692
도로형태_단일로         0.007172 -0.041768  0.006408  0.017375 -0.007572  0.001391
도로형태_주차장         0.021092  0.001568  0.006540  0.003580 -0.001929  0.004337
가해운전자 차종_승용     -0.009627  0.084181  0.013618  0.001647  0.012175 -0.012688
가해운전자 차종_이륜     -0.131360 -0.098896 -0.014010 -0.007579 -0.012536  0.009826
가해운전자 차종_자전거     0.045055 -0.027078 -0.008616  0.003468  0.009890 -0.005287
가해운전자 차종_화물      0.171531  0.008092  0.000887  0.005712 -0.008744  0.010819
피해운전자 차종_보행자     0.010286 -0.055044 -0.012053  0.000308  0.000915  0.008219
피해운전자 차종_승용      0.043054  0.198677  0.004394 -0.001583  0.003572 -0.016764
피해운전자 차종_이륜      0.021151 -0.148736  0.007032 -0.000401 -0.001361  0.004249
피해운전자 차종_자전거     0.017029 -0.010689  0.004428 -0.001264  0.007411  0.000402
피해운전자 차종_화물     -0.011442  0.049802  0.007718  0.015817 -0.005612  0.010191
피해운전자 성별_남      -0.006050  0.163881  0.010564 -0.014381 -0.004194 -0.013663
피해운전자 성별_여       0.075885 -0.056940 -0.005825  0.022897  0.007451  0.010397
가해운전자 상해정도_경상   -0.070120 -0.055633  0.000646 -0.005896 -0.006453 -0.003279
가해운전자 상해정도_부상신고 -0.051096 -0.041417 -0.000649 -0.006747 -0.003263  0.004889
가해운전자 상해정도_사망   -0.017404 -0.024682  0.009762 -0.009078 -0.004389  0.018522
가해운전자 상해정도_상해없음  0.109675  0.089115  0.003345  0.008440  0.009114 -0.004825
가해운전자 상해정도_중상   -0.057959 -0.044751 -0.010416  0.002448 -0.003979  0.000611
피해운전자 상해정도_경상    0.072827 -0.013081  0.015234 -0.002241 -0.006524 -0.003268
피해운전자 상해정도_부상신고 -0.028432 -0.055852  0.000110 -0.006590  0.012735  0.008397
피해운전자 상해정도_사망   -0.015299 -0.004538  0.014861 -0.011160  0.000125  0.009242
피해운전자 상해정도_상해없음 -0.062599  0.045427 -0.007889  0.002923 -0.009144 -0.006980
피해운전자 상해정도_중상   -0.025601  0.012831 -0.015499  0.006096  0.007637  0.002681

                   요일_일요일    요일_토요일    요일_화요일         년  ...  가해운전자 상해정도_경상  \
가해운전자 연령        -0.057412 -0.028416  0.023156  0.098571  ...      -0.070120
피해운전자 연령        -0.014316  0.002782  0.010617  0.035342  ...      -0.055633
요일_금요일          -0.176217 -0.202513 -0.162670  0.005129  ...       0.000646
요일_목요일          -0.172910 -0.198713 -0.159618  0.014758  ...      -0.005896
요일_수요일          -0.161144 -0.185191 -0.148756 -0.003056  ...      -0.006453
요일_월요일          -0.144736 -0.166334 -0.133609  0.020311  ...      -0.003279
요일_일요일           1.000000 -0.198844 -0.159723 -0.023350  ...       0.013064
요일_토요일          -0.198844  1.000000 -0.183558 -0.014655  ...       0.009109
요일_화요일          -0.159723 -0.183558  1.000000  0.004885  ...      -0.009346
년               -0.023350 -0.014655  0.004885  1.000000  ...       0.007128
월                0.001421  0.008228 -0.006245 -0.012804  ...      -0.001354
일               -0.003464  0.004579 -0.018323 -0.004046  ...       0.006548
시간              -0.078677 -0.106867  0.027692  0.109840  ...      -0.046773
사고유형_차대사람        0.007704 -0.000095 -0.004223 -0.032007  ...      -0.043133
사고유형_차대차        -0.023123  0.001666  0.006593  0.036508  ...      -0.165594
사고유형_차량단독        0.026133 -0.002463 -0.004900 -0.016269  ...       0.310952
노면상태_건조         -0.015652  0.022816 -0.025008  0.007034  ...       0.014974
노면상태_결빙         -0.004829 -0.000326  0.000711 -0.032803  ...      -0.000060
노면상태_기타         -0.002317  0.004390  0.000926 -0.023476  ...      -0.007342
노면상태_서리/결빙       0.012928  0.005063 -0.007428  0.030065  ...       0.000130
노면상태_습기          0.023377 -0.018401  0.024093 -0.230582  ...       0.004936
노면상태_적설          0.015388  0.000588 -0.007525 -0.000031  ...      -0.007349
노면상태_젖음/습기      -0.001223 -0.018978  0.016221  0.189184  ...      -0.018952
기상상태_기타         -0.001792  0.000431 -0.002695  0.018101  ...       0.010559
기상상태_눈           0.010459  0.010908  0.000129 -0.000274  ...      -0.005240
기상상태_맑음         -0.017346  0.027381 -0.022013 -0.011827  ...       0.003828
기상상태_비           0.004674 -0.026615  0.022018  0.002028  ...      -0.015227
기상상태_안개          0.010269 -0.006894  0.003081 -0.002564  ...       0.010625
기상상태_흐림          0.018981 -0.014966  0.009617  0.007176  ...       0.008082
도로형태_교차로         0.020945 -0.015335  0.015487  0.002032  ...      -0.007431
도로형태_단일로        -0.020454  0.015110 -0.014846 -0.003551  ...       0.007934
도로형태_주차장        -0.006942  0.003120 -0.009163  0.022022  ...      -0.007351
가해운전자 차종_승용     -0.009810  0.001409 -0.008091 -0.026432  ...      -0.271668
가해운전자 차종_이륜      0.014974  0.001372  0.009107 -0.014707  ...       0.307598
가해운전자 차종_자전거    -0.000409 -0.000555  0.001601  0.129853  ...       0.140813
가해운전자 차종_화물     -0.003728 -0.003952  0.000311 -0.005812  ...      -0.039309
피해운전자 차종_보행자     0.007641  0.000213 -0.004279 -0.031995  ...      -0.043156
피해운전자 차종_승용     -0.000231  0.009491 -0.001879 -0.028246  ...      -0.127404
피해운전자 차종_이륜     -0.000514 -0.014960  0.008246  0.086494  ...      -0.027592
피해운전자 차종_자전거    -0.004864 -0.005690  0.000524  0.011392  ...       0.008200
피해운전자 차종_화물     -0.034203  0.001578  0.005570  0.019251  ...       0.015824
피해운전자 성별_남       0.007734  0.014067 -0.003764 -0.000562  ...      -0.122344
피해운전자 성별_여      -0.024368 -0.014159  0.007142  0.010441  ...      -0.051530
가해운전자 상해정도_경상    0.013064  0.009109 -0.009346  0.007128  ...       1.000000
가해운전자 상해정도_부상신고 -0.000593  0.005191  0.001186 -0.014188  ...      -0.042758
가해운전자 상해정도_사망   -0.007300  0.001689 -0.007853 -0.012007  ...      -0.014310
가해운전자 상해정도_상해없음 -0.015328 -0.006557  0.006638  0.016972  ...      -0.609538
가해운전자 상해정도_중상    0.016629 -0.005485  0.000782 -0.020985  ...      -0.037090
피해운전자 상해정도_경상   -0.012701  0.001457  0.007385  0.094081  ...      -0.036489
피해운전자 상해정도_부상신고 -0.003715  0.001126 -0.011117 -0.030855  ...      -0.031056
피해운전자 상해정도_사망    0.000927 -0.005483 -0.007435 -0.008190  ...      -0.014510
피해운전자 상해정도_상해없음  0.016081  0.010229 -0.007884 -0.045445  ...       0.167458
피해운전자 상해정도_중상    0.005567 -0.008269  0.003720 -0.062711  ...      -0.054170

                 가해운전자 상해정도_부상신고  가해운전자 상해정도_사망  가해운전자 상해정도_상해없음  \
가해운전자 연령               -0.051096      -0.017404         0.109675
피해운전자 연령               -0.041417      -0.024682         0.089115
요일_금요일                 -0.000649       0.009762         0.003345
요일_목요일                 -0.006747      -0.009078         0.008440
요일_수요일                 -0.003263      -0.004389         0.009114
요일_월요일                  0.004889       0.018522        -0.004825
요일_일요일                 -0.000593      -0.007300        -0.015328
요일_토요일                  0.005191       0.001689        -0.006557
요일_화요일                  0.001186      -0.007853         0.006638
년                      -0.014188      -0.012007         0.016972
월                       0.011579      -0.007944        -0.001643
일                      -0.004355      -0.002971         0.000498
시간                     -0.049472      -0.022726         0.093228
사고유형_차대사람              -0.035191      -0.015644         0.070495
사고유형_차대차               -0.167275      -0.091564         0.307769
사고유형_차량단독               0.303555       0.161604        -0.565747
노면상태_건조                 0.008204       0.014380        -0.026484
노면상태_결빙                 0.001420      -0.001975        -0.006390
노면상태_기타                -0.002938       0.000248         0.010102
노면상태_서리/결빙             -0.003015       0.012383         0.002863
노면상태_습기                 0.006127      -0.008621        -0.004506
노면상태_적설                -0.009995      -0.003345         0.013327
노면상태_젖음/습기             -0.012240      -0.013620         0.031775
기상상태_기타                -0.005128      -0.003122        -0.001655
기상상태_눈                 -0.007409      -0.005257         0.007763
기상상태_맑음                 0.009624       0.009198        -0.013252
기상상태_비                 -0.009149      -0.013922         0.026265
기상상태_안개                 0.012540      -0.000941        -0.012924
기상상태_흐림                 0.000245       0.005837        -0.011951
도로형태_교차로               -0.010578      -0.021869         0.018814
도로형태_단일로                0.010110       0.022008        -0.019097
도로형태_주차장                0.006681      -0.002188         0.004263
가해운전자 차종_승용            -0.247606      -0.080358         0.473785
가해운전자 차종_이륜             0.271698       0.105402        -0.544829
가해운전자 차종_자전거            0.128722      -0.008148        -0.196214
가해운전자 차종_화물            -0.024188      -0.004316         0.053223
피해운전자 차종_보행자           -0.035212      -0.015650         0.070533
피해운전자 차종_승용            -0.129253      -0.075299         0.237922
피해운전자 차종_이륜            -0.025671      -0.012935         0.048953
피해운전자 차종_자전거           -0.001609      -0.006525        -0.002286
피해운전자 차종_화물             0.019342       0.021249        -0.035216
피해운전자 성별_남             -0.122549      -0.069296         0.223670
피해운전자 성별_여             -0.046840      -0.020426         0.092557
가해운전자 상해정도_경상          -0.042758      -0.014310        -0.609538
가해운전자 상해정도_부상신고         1.000000      -0.012728        -0.542138
가해운전자 상해정도_사망          -0.012728       1.000000        -0.181443
가해운전자 상해정도_상해없음        -0.542138      -0.181443         1.000000
가해운전자 상해정도_중상          -0.032989      -0.011041        -0.470280
피해운전자 상해정도_경상          -0.207118      -0.083562         0.257002
피해운전자 상해정도_부상신고         0.373361      -0.013438        -0.181747
피해운전자 상해정도_사망          -0.012330       0.507358        -0.083293
피해운전자 상해정도_상해없음         0.168704       0.032076        -0.279374
피해운전자 상해정도_중상          -0.055704      -0.015955        -0.003671

                 가해운전자 상해정도_중상  피해운전자 상해정도_경상  피해운전자 상해정도_부상신고  피해운전자 상해정도_사망  \
가해운전자 연령             -0.057959       0.072827        -0.028432      -0.015299
피해운전자 연령             -0.044751      -0.013081        -0.055852      -0.004538
요일_금요일               -0.010416       0.015234         0.000110       0.014861
요일_목요일                0.002448      -0.002241        -0.006590      -0.011160
요일_수요일               -0.003979      -0.006524         0.012735       0.000125
요일_월요일                0.000611      -0.003268         0.008397       0.009242
요일_일요일                0.016629      -0.012701        -0.003715       0.000927
요일_토요일               -0.005485       0.001457         0.001126      -0.005483
요일_화요일                0.000782       0.007385        -0.011117      -0.007435
년                    -0.020985       0.094081        -0.030855      -0.008190
월                    -0.005182      -0.007428         0.000206      -0.011261
일                    -0.003146      -0.001272         0.000837      -0.000852
시간                   -0.055556       0.056852        -0.022036      -0.025640
사고유형_차대사람            -0.035275      -0.111104        -0.004720       0.086322
사고유형_차대차             -0.158127       0.206631        -0.179342      -0.154158
사고유형_차량단독             0.289484      -0.180308         0.283882       0.130197
노면상태_건조               0.017188       0.000771        -0.003975      -0.002659
노면상태_결빙               0.011608      -0.005577         0.000733      -0.002357
노면상태_기타              -0.006966       0.002740        -0.004105       0.000912
노면상태_서리/결빙           -0.007160      -0.004452         0.001252      -0.003297
노면상태_습기              -0.001145      -0.022505         0.007175       0.002699
노면상태_적설              -0.003723       0.012776        -0.002316       0.006516
노면상태_젖음/습기           -0.018065       0.014700         0.001831       0.000448
기상상태_기타              -0.003135       0.004558        -0.007461      -0.005543
기상상태_눈                0.002173       0.003391        -0.003430       0.000439
기상상태_맑음               0.006167       0.004912        -0.003967      -0.003217
기상상태_비               -0.015543       0.004628         0.000248       0.003470
기상상태_안개              -0.002440      -0.002378         0.011633      -0.001123
기상상태_흐림               0.010277      -0.017091         0.010547       0.003801
도로형태_교차로             -0.006257      -0.004853        -0.035972      -0.019756
도로형태_단일로              0.006645       0.004902         0.035560       0.019925
도로형태_주차장             -0.005672      -0.000747         0.005670      -0.002611
가해운전자 차종_승용          -0.257374       0.174282        -0.090353      -0.031415
가해운전자 차종_이륜           0.311840      -0.198070         0.105216       0.045786
가해운전자 차종_자전거          0.057052      -0.094670         0.041093      -0.009723
가해운전자 차종_화물          -0.023736       0.028580        -0.013944      -0.004406
피해운전자 차종_보행자         -0.035293      -0.110978        -0.004749       0.086292
피해운전자 차종_승용          -0.121299       0.200185        -0.123630      -0.125112
피해운전자 차종_이륜          -0.025270      -0.045696        -0.019181       0.011850
피해운전자 차종_자전거         -0.001587      -0.047749        -0.001445       0.013918
피해운전자 차종_화물           0.017581      -0.000848        -0.018681      -0.014983
피해운전자 성별_남           -0.110167       0.089575        -0.119527      -0.073275
피해운전자 성별_여           -0.052122       0.009157        -0.038332       0.002946
가해운전자 상해정도_경상        -0.037090      -0.036489        -0.031056      -0.014510
가해운전자 상해정도_부상신고      -0.032989      -0.207118         0.373361      -0.012330
가해운전자 상해정도_사망        -0.011041      -0.083562        -0.013438       0.507358
가해운전자 상해정도_상해없음      -0.470280       0.257002        -0.181747      -0.083293
가해운전자 상해정도_중상         1.000000      -0.181687        -0.029710      -0.006643
피해운전자 상해정도_경상        -0.181687       1.000000        -0.298152      -0.112785
피해운전자 상해정도_부상신고      -0.029710      -0.298152         1.000000      -0.016037
피해운전자 상해정도_사망        -0.006643      -0.112785        -0.016037       1.000000
피해운전자 상해정도_상해없음       0.122642      -0.430884        -0.061268      -0.023176
피해운전자 상해정도_중상         0.145955      -0.712394        -0.101296      -0.038318

                 피해운전자 상해정도_상해없음  피해운전자 상해정도_중상
가해운전자 연령               -0.062599      -0.025601
피해운전자 연령                0.045427       0.012831
요일_금요일                 -0.007889      -0.015499
요일_목요일                  0.002923       0.006096
요일_수요일                 -0.009144       0.007637
요일_월요일                 -0.006980       0.002681
요일_일요일                  0.016081       0.005567
요일_토요일                  0.010229      -0.008269
요일_화요일                 -0.007884       0.003720
년                      -0.045445      -0.062711
월                       0.001081       0.010120
일                       0.014346      -0.008650
시간                     -0.038361      -0.024639
사고유형_차대사람              -0.083371       0.174175
사고유형_차대차                0.043966      -0.154703
사고유형_차량단독               0.036859       0.020401
노면상태_건조                 0.017054      -0.010178
노면상태_결빙                 0.006091       0.002476
노면상태_기타                -0.003708       0.001193
노면상태_서리/결빙             -0.005393       0.008997
노면상태_습기                 0.003951       0.019735
노면상태_적설                -0.009299      -0.008784
노면상태_젖음/습기             -0.022289      -0.002971
기상상태_기타                -0.001012       0.000122
기상상태_눈                 -0.004957       0.001043
기상상태_맑음                 0.015698      -0.014026
기상상태_비                 -0.019245       0.007016
기상상태_안개                -0.004291       0.000187
기상상태_흐림                 0.000877       0.013567
도로형태_교차로                0.015148       0.017075
도로형태_단일로               -0.016332      -0.016143
도로형태_주차장                0.017279      -0.013359
가해운전자 차종_승용            -0.232200       0.005707
가해운전자 차종_이륜             0.254196      -0.003026
가해운전자 차종_자전거            0.148495      -0.009315
가해운전자 차종_화물            -0.036951      -0.000424
피해운전자 차종_보행자           -0.083397       0.174065
피해운전자 차종_승용             0.035783      -0.174904
피해운전자 차종_이륜            -0.048410       0.094601
피해운전자 차종_자전거           -0.014383       0.064293
피해운전자 차종_화물             0.056952      -0.026058
피해운전자 성별_남              0.054489      -0.069419
피해운전자 성별_여             -0.082839       0.064898
가해운전자 상해정도_경상           0.167458      -0.054170
가해운전자 상해정도_부상신고         0.168704      -0.055704
가해운전자 상해정도_사망           0.032076      -0.015955
가해운전자 상해정도_상해없음        -0.279374      -0.003671
가해운전자 상해정도_중상           0.122642       0.145955
피해운전자 상해정도_경상          -0.430884      -0.712394
피해운전자 상해정도_부상신고        -0.061268      -0.101296
피해운전자 상해정도_사망          -0.023176      -0.038318
피해운전자 상해정도_상해없음         1.000000      -0.146391
피해운전자 상해정도_중상          -0.146391       1.000000

[53 rows x 53 columns]

In [361]:
data.to_csv('data.csv', index=False)

In [362]:
data.to_csv('data_kor.csv', index=False, encoding='cp949')